<section class="container text-center">
<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
  <%= link_to "Editar Tweet", edit_tweet_path(@tweet) %> |
  <%= link_to "Volver a los tweets", tweets_path %>
  <br><br>
  <%= button_to "borrar tweet", @tweet, method: :delete %>
</div>
</section>
