<section class="container text-center">
<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
  <%= link_to "Editar Tweet", edit_tweet_path(@tweet), class:"btn btn-primary" %>
  <%= link_to "Volver a los tweets", tweets_path, class:"btn btn-primary" %>
  <br><br>
  <%= button_to "borrar tweet", @tweet, method: :delete, class:"btn btn-primary" %>
</div>
</section>
